body
{
	background-color:#FFFFFF;
}

#TetrisBoard
{
	/*float:left;*/
	position:absolute;
	left:0px;
	top:0px;
	background-color:#8a8a8a;	
	width:320px;
	height:640px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#score
{
	font-size: 18pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}

#BreakoutBoard
{
	/*float:right;*/
	position:absolute;
	right:0px;
	top:0px;
	/*top:0;*/
	/*right:0;*/
	/*background-color:#8a8a8a;	*/
	width:320px;
	height:640px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#game
{
	float:middle;
	position:relative;
	/*top:0;*/
	/*right:0;*/
	background-color:#000;	
	width:700px;
	height:700px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#mainscreen
{
	/*float:left;*/
	position:absolute;
	left:0px;
	top:0px;
	background-color:#8a8a8a;	
	width:700px;
	height:700px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#PlayButton
{
	position:absolute;
	left:250px;
	top:300px;
	background-color:#8a8a8a;	
	width:200px;
	height:50px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#NewButton
{
	position:absolute;
	left:250px;
	top:400px;
	background-color:#8a8a8a;	
	width:200px;
	height:50px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#JoinButton
{
	position:absolute;
	left:250px;
	top:500px;
	background-color:#8a8a8a;	
	width:200px;
	height:50px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#IntroButton
{
	position:absolute;
	left:250px;
	top:600px;
	background-color:#8a8a8a;	
	width:200px;
	height:50px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}
/*#directions p
{
	font-size: 14pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}*/