body
{
	background-color:#FFFFFF;
}

input[type="text"]
{
    font-size:32px;
}

#game
{
	float:middle;
	position:relative;
	/*top:0;*/
	/*right:0;*/
	background-color:#000;	
	width:700px;
	height:700px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#TitleBackground
{
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	height:700px;
	margin:0 auto;
}

#CreateRoomImg
{
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	height:700px;
	margin:0 auto;
}

#JoinRoomImg
{
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	height:700px;
	margin:0 auto;
}

#WinImg
{
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	height:700px;
	margin:0 auto;
}

#LoseImg
{
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	height:700px;
	margin:0 auto;
}

#DrawImg
{
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	height:700px;
	margin:0 auto;
}

#Round2Img
{
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	height:700px;
	margin:0 auto;
}

#MainScreen
{
	/*float:left;*/
	position:absolute;
	left:0px;
	top:0px;
	background-color:#FFF;	
	width:700px;
	height:700px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#CreateRoomScreen
{
	/*float:left;*/
	position:absolute;
	left:0px;
	top:0px;
	background-color:#FFF;	
	width:700px;
	height:700px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#JoinRoomScreen
{
	/*float:left;*/
	position:absolute;
	left:0px;
	top:0px;
	background-color:#FFF;	
	width:700px;
	height:700px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#TetrisBoard
{
	/*float:left;*/
	position:absolute;
	left:15px;
	top:50px;
	/*background-color:#8a8a8a;	*/
	width:320px;
	height:640px;
	margin:0 auto;
	/*border: 3px solid #ba0be0;*/
}

#score
{
	position:absolute;
	left:15px;
	top:15px;
	font-size: 18pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}

#BreakoutBoard
{
	/*float:right;*/
	position:absolute;
	right:15px;
	top:50px;
	/*background-color:#8a8a8a;	*/
	width:320px;
	height:640px;
	margin:0 auto;
	/*border: 3px solid #ba0be0;*/
}

#QuitButton
{
	position:absolute;
	left:290px;
	top:5px;
	/*background-color:#FFF;	*/
	font-size:20px;
	width:120px;
	height:40px;
	margin:0 auto;
	/*border: 2px solid #6e6e7b;*/
}

#GameBoard
{
	float:middle;
	position:relative;
	/*top:0;*/
	/*right:0;*/
	background-color:#000;	
	width:700px;
	height:700px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#PlayButton
{
	position:absolute;
	left:250px;
	top:300px;
	/*background-color:#FFF;	*/
	width:150px;
	height:50px;
	margin:0 auto;
	/*border: 2px solid #6e6e7b;*/
}

#NewButton
{
	position:absolute;
	left:50px;
	top:600px;
	/*background-color:#FFF;	*/
	width:160px;
	height:50px;
	margin:0 auto;
	/*border: 2px solid #6e6e7b;*/
	opacity: 0.8;

	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#NewButton:hover {  
   opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}  

#JoinButton
{
	position:absolute;
	left:270px;
	top:600px;
	/*background-color:#FFF;	*/
	width:160px;
	height:50px;
	margin:0 auto;
	/*border: 2px solid #6e6e7b;*/

	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#JoinButton:hover {  
   opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

#IntroButton
{
	position:absolute;
	left:490px;
	top:600px;
	/*background-color:#FFF;	*/
	width:160px;
	height:50px;
	margin:0 auto;
	/*border: 2px solid #6e6e7b;*/

	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#IntroButton:hover {  
   opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

#CreateRoomName{
	position:absolute;
	left:200px;
	top:300px;
	/*background-color:#FFF;	*/
	width:300px;
	height:50px;
	margin:0 auto;
	input[type="text"]
	{
	    font-size:24px;
	}
}

#CreateButton
{
	position:absolute;
	left:180px;
	top:380px;
	/*background-color:#FFF;	*/
	width:160px;
	height:50px;
	margin:0 auto;
	/*border: 2px solid #6e6e7b;*/
}

#BackButton1
{
	position:absolute;
	left:360px;
	top:380px;
	/*background-color:#FFF;	*/
	width:160px;
	height:50px;
	margin:0 auto;
}

#JoinRoomName{
	position:absolute;
	left:200px;
	top:300px;
	/*background-color:#FFF;	*/
	width:300px;
	height:50px;
	margin:0 auto;
}

#JoinRoomButton
{
	position:absolute;
	left:180px;
	top:380px;
	/*background-color:#FFF;	*/
	width:160px;
	height:50px;
	margin:0 auto;
	/*border: 2px solid #6e6e7b;*/
}

#BackButton2
{
	position:absolute;
	left:360px;
	top:380px;
	/*background-color:#FFF;	*/
	width:160px;
	height:50px;
	margin:0 auto;
}

/*#directions p
{
	font-size: 14pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}*/